{% load static %}
 
    {% block titulo %}
    <title>Deletar</title>
    {% endblock %}

    {% load crispy_forms_tags %}
    {% block conteudo %}

        <h1 class="h3 mb-4 text-gray-800">Excluir Anotações</h1>
        <br>
        <p>Deseja excluir sua anotação? </p>
        <br> Título: <b> {{ object.title }} </b> 
        <br> Conteúdo: <b> {{ object.description }} 
    
        <form method="POST" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <div>
                <button type="submit" class="save btn btn-danger">Confirmo exclusão</button>
            </div>
        </form>
  
    {% endblock %}

  
