body::-webkit-scrollbar {
  width: 12px;
  background: #2e55c7;
}

ul#accordionSidebar {
  color: white;
  font-weight: bold;
}

.flex-container {
    display: flex;
  }

.dg-ufac-img {
  background-image: url(../vendor/img/Ufac_Visao_Aerea.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.bg-centro-img {
  background-image: url(../vendor/img/centro-de-eventos-aereo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* Draggable */
.boards {
  display: flex;
  justify-content: space-between;
}

.board {
  background: #A6A6DD;
  border: 1px solid #ffffff;
  margin: 0 16px;
}
.board h3, h4, h5 {
  padding: 16px;
  margin: 0;
  color: #fffffffb;
}
.dropzone {
  padding: 16px;
  background: #A6A6DD;
  min-width: 282px;
  min-height: auto;
}
.draggcard {
  padding: 16px;
  box-shadow: 0 2px 2px -1px #cf1111f6;
  width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  /* font-weight: 600; */
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

.draggcard .dropzone {
  transition: 400ms;
}

.highlight {
  background-color: #FD951F08;
}

.is-dragging {
  cursor: move !important; 
  opacity: 0.3;
}

.over {
  background-color: #41eb26d8;
}

.boards-main {
  display: flex;
  text-align: justify;
}

div.content textarea{
  border: 0;
  /* border-color: black;
  border-radius: 3px; */
  white-space: normal;
  word-wrap: break-word;
  text-align: justify;
  width: 220px;
  max-height: 150px;
  min-height: 50px;
  resize: none;
  outline: none;
}

div.content {
  word-wrap: break-word;
}

.to-do {
  background-color: #FF5B97;
  color: white;
  font-weight: bold;
  display: flex;
}

div.to-do input[type="button"] {
  margin: auto 0.5em auto auto;
  background-color: #FF8870;
  color: white;
  font-weight: bold;
}

div.in-progress input[type="button"] {
  margin: auto 0.5em auto auto;
  background-color: #FF8870;
  color: white;
  font-weight: bold;
}

div.done input[type="button"] {
  margin: auto 0.5em auto auto;
  background-color: #FF8870;
  color: white;
  font-weight: bold;

}

.in-progress {
  background-color: #FF5B97;
  color: white;
  font-weight: bold;
  display: flex;
}

.done {
background-color: #FF5B97;
  color: white;
  font-weight: bold;
  display: flex;
}

footer {
  bottom: 0;
  margin-top: auto;
}
/* Fim do Draggable */