.flex-container {
    display: flex;
  }

.dg-ufac-img {
  background-image: url(../vendor/img/Ufac_Visao_Aerea.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.bg-centro-img {
  background-image: url(../vendor/img/centro-de-eventos-aereo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* Draggable */
.boards {
  display: flex;
  justify-content: space-between;
}

.board {
  background: #0022b893;
  border: 1px solid #ffffff;
  margin: 0 16px;
}
.board h3, h4, h5 {
  padding: 16px;
  margin: 0;
  color: #fffffffb;
}
.dropzone {
  padding: 16px;
  background: #cfbaf0;
  min-width: 282px;
  min-height: 200px;
}
.draggcard {
  padding: 16px;
  box-shadow: 0 2px 2px -1px #cf1111f6;
  width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

.draggcard .dropzone {
  transition: 400ms;
}

.status {
  width: 30px;
  height: 8px;
  background: gray;
  margin-bottom: 16px;
  border-radius: 8px;
}

.status.todo {
  background: rgba(247, 3, 3, 0.801);
}

.status.progress {
  background: rgb(42, 42, 221);
}

.status.done {
  background-color: rgb(14, 136, 14);
}

.highlight {
  background-color: #FD951F08;
}

.is-dragging {
  cursor: move !important; 
  opacity: 0.3;
}

.over {
  background-color: #41eb26d8;
}

.boards-main {
  display: flex;
  /* justify-content: space-between; */
}

footer {
  bottom: 0;
  margin-top: auto;
}
/* Fim do Draggable */