.flex-container {
    display: flex;
  }

.dg-ufac-img {
  background-image: url(../vendor/img/Ufac_Visao_Aerea.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#loginblock {
  opacity: 0.1;
}